<h1>UPS</h1>
<h3>Shipment</h3>
<%= @shipment %><br /><br />

<h3>Rates</h3>
<%= @rates.rates %><br /><br />

<h3>Tracking</h3>
<%= @tracking %><br /><br />

<h3>Validate Address</h3>
<%= @valid_address %><br /><br />

<h3>Validate Address Street</h3>
<%= @valid_address_street %>